
snippet dj_templ_for "dj template for" !b
{% for ${1:todo} in ${2:todos} %}
${3:{{todo}}}
{% endfor %}

endsnippet


snippet dj_templ_if "dj template if" !b
{% if not todo.completed %}
    {{todo.title}} 
{% else %}
    <strike>{{todo.title}}</strike>
{% endif %}

endsnippet


snippet dj_templ_form "dj template form" !b
<form method="POST" action="">
{% csrf_token %}

<input type="hidden" name="${1}" value={{${2}}}>
<input type="submit" value="submit">
</form>

endsnippet



